.code {
  display: flex;
}

.editor {
  width: 50% !important;
}

textarea {
  background-color: black;
  border: 0;
  color: white;
  font-size: 14px;
  margin-top: 0;
  padding: 10px;
  width: 50% !important;
}

*:focus {
  outline: none;
}
